/*
  All of these selectors match
  and they all have the same specificity
*/

.module {
    background: #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
}

.module-foo {
    background: orange;
}

/* LAST declared, so these property/values win */
.module-bar {
    background: lightblue; /* I win! */
    /* I still have all the _other_ styles as well */
}